#codeResponse {
    max-width: 90%;
}

#btn-send {
    float: right;
}

.container {
    /* display: flex; */
    /* align-items: flex-start; */
  }

.same-height {
height: 3em;
padding-right: 10px;
object-fit: cover; /* Preserve the aspect ratio of the image */
}